{% extends "base.html" %}

{% block title %}
{{type|title}}
{% endblock %}

{% block content %}
<h1 class="h3 mb-2">{{type|title}} -
    {% if type == 'host' %}
    {% include "link_beaker_host.html" %}
    {% else %}
    {{item.name}}
    {% endif %}
</h1>

<div class="row">
  <div class="col-xl-4 mb-2">
    <i class="fas fa-filter"></i>

    {% for result in results %}
    <a href="?result={{ result.name }}" aria-label="{{ result.name }}">
        {{ result.name }}
    </a>
    {% endfor %}

    {% if result_filter %}
    - Showing only: {{ result_filter }}
    <a href="/details/{{type}}/{{item.id}}" title="Clear filter"> x </a>
    {% endif %}

  </div>
</div>

<ul class="nav nav-tabs mb-3">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#pipelines">Pipelines</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#table">Results Summary by
    {% if type == 'test' %}
    Host
    {% elif type == 'host' %}
    Test
    {% endif %}
    </a>
  </li>
</ul>

<div class="tab-content">
  <div id="pipelines" class="tab-pane active">
    {% for run in runs %}
    <div class="card shadow mb-4">
      <div class="card-header py-3">

      <div class="row">
        <div class="col">
          <h5 class="m-0">Pipeline <a href="/pipeline/{{run.pipeline.pipeline_id}}">{{ run.pipeline.pipeline_id }}</a></h5>
       </div>
        <div class="col" align="right">
          {% with pipeline=run.pipeline %}
          {% include 'pipeline_details_header.html' %}
          {% endwith %}
       </div>
      </div>

      </div>
      <div class="card-body">
          {% with test_jobs=run.tests %}
            {% if type == 'test' %}
            {% include 'tables/table_testrun_details_by_test.html' %}
            {% elif type == 'host' %}
            {% include 'tables/table_testrun_details_by_host.html' %}
            {% endif %}
          {% endwith %}
      </div>
    </div>
    {% endfor%}

    {% include 'paginator.html' with paginator=runs %}

  </div>
  <div id="table" class="tab-pane">
    <div class="card shadow mb-4">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered table-sm sortable" id="pipelinesTable" width="100%" cellspacing="0">
            <thead>
              <tr class="d-flex">
                {% if type == 'test' %}
                <th class="col-5">Host</th>
                {% elif type == 'host' %}
                <th class="col-5">Test</th>
                {% endif %}
                <th class="col-1">Total</th>
                {% for result in results %}
                <th class="col-1">{{ result.name }}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% load getattribute %}
              {% for item in table %}
              <tr class="d-flex">
                <td class="col-5">
                  {% if type == 'test' %}
                  {% include "link_beaker_host.html" with type="tasks" %}</a>
                  {% elif type == 'host' %}
                  {{item.name}}
                  {% endif %}
                </td>
                <td class="col-1">{{ item.total_runs }}</td>
                {% for result in results %}
                <td class="col-1">{{ item|getattribute:result.name }}</td>
                {% endfor %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
