{% extends "base.html" %}
{% load serialize %}

{% block title %}
Issues Regexes
{% endblock %}

{% block header %}
Issues Regexes
{% endblock %}

{% block content %}

{% if perms.datawarehouse.add_issue %}
{% load addstr %}
{% include 'modal_issue.html' with action="new" redirect_to="/issue/regex"|addstr:"#issueregex" %}
{% endif %}

{% if perms.datawarehouse.add_issueregex %}
{% include 'modal_new_issue_regex.html' %}
{% endif %}

<div class="tab-content">
  <div class="tab-pane active">

    {% if perms.datawarehouse.add_issueregex %}
    <div class="col-xl-4 col-md-6 mb-4">
      <div class="row">
        <span class="dropdown">
          <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Actions
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#" onclick="openIssueRegexModal('new', '')">New Issue Regex</a>
          </div>
        </span>
      </div>
    </div>
    {% endif %}

    {% for issue_regex in issue_regexes %}
    {% include 'card_issue_regex.html' %}
    {% endfor %}

  </div>
</div>

{% with paginator=issue_regex %}
{% include 'paginator.html' %}
{% endwith %}

{% endblock %}

{% block script %}
<script type="text/javascript">
  var url = window.location.href;
  if (url.indexOf('#issueregex') != -1) {
      $('#issueRegexModal').modal('show');
  }
</script>

<script>
   function openIssueRegexModal(action, regex) {
     var x = document.getElementById("delete_issue_regex");
     if (action === 'new') {
       x.style.display = "none";
     } else {
       document.getElementById("issue_regex_id").value = regex['id'];
       document.getElementById("issue_id_select").value = regex['issue']['id'];
       document.getElementById("issue_regex_text_match").value = regex['text_match'];
       document.getElementById("issue_regex_test_name_match").value = regex['test_name_match'];
       document.getElementById("issue_regex_file_name_match").value = regex['file_name_match'];
       document.getElementById("action").value = "edit";
       x.style.display = "block";
     }
     $('#issueRegexModal').modal('show');
   };
</script>
{% endblock %}
