{% extends "base.html" %}

{% block title %}
Metrics Dashboard
{% endblock %}

{% block header %}
Metrics for {{ tree }}
{% endblock %}

{% block content %}

<div class="col-xl-12 mb-2">
  {% for filter in days_filter_available %}
  <a href="?from={{ filter }}" class="d-none d-sm-inline-block btn btn-sm shadow-sm
    {% if filter == days_filter %} btn-primary {% else %} btn-secondary {% endif %}">
    {{ filter|title }}</a>
  {% endfor %}
</div>

<ul class="nav nav-tabs mb-3">
      <a class="nav-link {% if tree == 'all' %}active{% endif %}" href="all?from={{ days_filter }}">All</a>
    {% for available_tree in trees %}
    <li class="nav-item">
      <a class="nav-link {% if tree == available_tree.name %}active{% endif %}" href="{{ available_tree.name }}?from={{ days_filter }}">
        {{available_tree.name}}
      </a>
    </li>
    {% endfor %}
</ul>

{% for group in groups %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">{{ group.title }}</h1>
</div>
<div class="row">
{% for plot in group.plots %}
    {% if plot.type == 'doughnut' %}
      {% include 'plots/doughnut.html' %}
    {% elif plot.type == 'area' %}
      {% include 'plots/area.html' %}
    {% endif %}
{% endfor %}
</div>
{% endfor %}

{% endblock %}


{% block script %}

{% endblock %}
