{% extends "base.html" %}

{% block title %}
Running
{% endblock %}

{% block header %}
Currently Running Pipelines
{% endblock %}

{% block content %}
<div class="card shadow mb-4">
  <div class="card-header py-3">
  </div>
  <div class="card-body">
    {% include 'tables/table_pipelines_running.html' %}
  </div>
</div>

{% include 'paginator.html' with paginator=pipelines %}
{% endblock %}
