<div class="card shadow mb-2">
  <!-- Card Header - Accordion -->
  <a href="#collapse{{run.job.name}}" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapse{{run.job.name}}">
    <h6 class="m-0 font-weight-bold text-danger">{{run.job.stage.name|title}} - {{run.job.name}}</h6>
  </a>
  <!-- Card Content - Collapse -->
  <div class="collapse show" id="collapse{{run.job.name}}" style="">
    <div class="card-body">
      <pre ><code class="language-shell">
{{ run.log.tail }}
      </code></pre>
      </pre>
    </div>
  </div>
</div>
