  {% if test_jobs.exists %}
  <div class="card">
    <div class="card-header" id="headingTest">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#{{ html_id }}" aria-expanded="{% if open %}true{% else %}false{% endif %}" aria-controls="collapseTest">
          <h6 class="m-0 font-weight-bold text-primary">
            <i title="Expand" class="fas fa-caret-down rotate-if-collapsed"></i>
            {{title|default:'Test Jobs' }}
            ({{ test_jobs.count }})
          </h6>
        </button>
      </h5>
    </div>
    <div id="{{ html_id }}" class="collapse {% if open %}show{% endif %}" aria-labelledby="headingTest">
      <div class="card-body">
      {% include 'tables/table_testrun_general.html' %}
      </div>
    </div>
  </div>
  {% endif %}
