<footer class="sticky-footer bg-white">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span>Made with <i class="fas fa-heart"></i> - CKI Team</span> -
      <a href="https://gitlab.com/cki-project/datawarehouse/"><i class="fab fa-gitlab"></i> Source in Gitlab</a>
    </div>
  </div>
</footer>
