{% if perms.datawarehouse.change_issue %}
{% load serialize %}
<span class="dropdown">
  <button class="btn btn-primary btn-sm dropdown-toggle mb-1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Actions
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#" onclick="editIssue({{ issue|serialize:'IssueSerializer' }})">Edit Issue</a>
    <form action="/issue/resolve" method="post">
    {% csrf_token %}
    <input type="hidden" name="redirect_to" value="/issue/list"/>
    <input type="hidden" name="issue_id" value="{{ issue.id }}"/>
    {% if issue.resolved %}
    <button class="dropdown-item btn-link" type="submit">Mark as unresolved</a>
    {% else %}
    <input type="hidden" name="resolved" value="on">
    <button class="dropdown-item btn-link" type="submit">Mark as resolved</a>
    {% endif %}
    </form>
  </div>
</span>

<script>
   function editIssue(issue) {
     document.getElementById("issue_id").value = issue['id'];
     document.getElementById("issue_description").value = issue['description'];
     document.getElementById("issue_url").value = issue['ticket_url'];
     document.getElementById("issue_kind_id").value = issue['kind']['id'];
     document.getElementById("issue_resolved").checked = issue['resolved'];
     document.getElementById("issue_generic").checked = issue['generic'];
     $('#issueModal').modal('show');
   };
</script>
{% endif %}
