<div class="modal fade" id="issueRegexModal" tabindex="-1" role="dialog" aria-labelledby="issueRegexModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title" id="issueRegexModalLabel">Create Issue Regex</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/issue/regex" method="POST">
          {% csrf_token %}
          <div class="row">
            <div class="col-xl-12">
              <div class="form-group">
                <label for="issueid">Issue</label>
                <div class="input-group">
                  <input type="text"
                         id="issue_type_filter"
                         placeholder="Text to filter issue types in the dropdown below" />
                  <select required="required" class="form-control" id="issue_id_select" name="issue_id_select">
                  <option disabled selected>Select an option</option>
                    {% for issue in issues %}
                    <option value="{{ issue.id }}">{{ issue.kind.tag  }} | {{ issue.description }}</option>
                    {% endfor %}
                  </select>
                </div>
                {% if perms.datawarehouse.add_issue %}
                <div align="right"><a href="#" data-toggle="modal" data-dismiss="modal" data-target="#issueModal">Create new issue</a></div>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-12">
                <div class="form-group">
                  <label for="issue_regex_id">ID</label>
                  <input type="text" class="form-control" name="issue_regex_id" placeholder="Autogenerated" id="issue_regex_id" readonly>
                </div>
                <div class="form-group">
                  <label for="issue_regex_text_match">Text Match</label>
                  <input type="text" class="form-control" name="text_match" placeholder="Regex to look for in the logs" id="issue_regex_text_match" >
                </div>
                <div class="form-group">
                  <label class="optional" for="issue_regex_test_name_match">Test Name Match</label>
                  <input type="text" class="form-control" name="test_name_match" placeholder="Regex to match the test name" id="issue_regex_test_name_match" >
                </div>
                <div class="form-group">
                  <label class="optional" for="issue_regex_file_name_match">File Name Match</label>
                  <input type="text" class="form-control" name="file_name_match" placeholder="Regex to match the file name" id="issue_regex_file_name_match" >
                </div>
                <input type="hidden" id="action" name="action" value="new"/>
            </div>
          </div>
          </br>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            {% if perms.datawarehouse.delete_issueregex %}
            <div id="delete_issue_regex">
              <button type="submit" name="action" value="delete" class="btn btn-danger">Delete</button>
            </div>
            {% endif %}
            {% if perms.datawarehouse.change_issueregex or perms.datawarehouse.add_issueregex %}
            <button type="submit" class="btn btn-primary">Save</button>
            {% endif %}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script src="/static/js/custom.js"></script>
<script>
  const issueTypes = [
      {% for issue in issues %}
      {
          id: {{ issue.id }},
          tag: "{{ issue.kind.tag  }}",
          description: "{{ issue.description }}"
      },
      {% endfor %}
  ];

  document.getElementById('issue_type_filter').addEventListener('input', function(e) {
      filterDropdown(e.target.value, 'issue_id_select', issueTypes);
  });
</script>
