<li class="nav-item dropdown no-arrow">
  <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="mr-2 d-none d-lg-inline text-gray-600 small">
        {% if user.is_authenticated %}
        {{ user.first_name }} {{ user.last_name }} ({{ user.username }})
        {% else %}
        Anonymous
        {% endif %}
    </span>
  </a>
  <!-- Dropdown - User Information -->
  <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
    {% if user.is_authenticated %}
      <form method="get" action="{% url 'logout' %}">
        <input type="submit" class="dropdown-item" value="Logout">
      </form>
    {% else %}
      <form method="get" action="{% url 'login' %}">
        <input type="hidden" name="next" value="{{ request.get_full_path }}">
        <input type="submit" class="dropdown-item" value="Login">
      </form>
    {% endif %}
  </div>
</li>

